.profile-media {
  background-color: var(--clr-primary-gray-dark);
  .global-container {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    .left {
      > p,
      > p a {
        color: var(--clr-secondary-text);
        font-size: 0.8rem;
      }
      > p a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .intro {
        .intro__sec {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        .intro__details .details {
          li {
            display: flex;
            align-items: start;
            text-align: start;
            &::marker {
              content: "";
            }
            img {
              filter: invert(89%) sepia(6%) hue-rotate(185deg);
              margin-right: 0.5rem;
            }
            a {
              color: white;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
            &:not(:last-child) {
              margin: 1.3rem 0;
            }
          }
        }
      }
      width: 43%;
    }
    .right {
      width: 57%;
    }
  }
}
