@use "../globals/typography.scss" as *;
.profile-media {
  background-color: var(--clr-primary-gray-dark);
  .global-container {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    .left {
      > p,
      > p a {
        color: var(--clr-secondary-text);
        font-size: 0.8rem;
      }
      > p a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .intro {
        .intro__sec {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        .intro__details .details {
          li {
            display: flex;
            align-items: start;
            text-align: start;
            &::marker {
              content: "";
            }
            img {
              filter: invert(89%) sepia(6%) hue-rotate(185deg);
              margin-right: $base-inner-spacing;
            }
            a {
              color: white;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
            &:not(:last-child) {
              margin: 1.3rem 0;
            }
          }
        }
      }
      width: 43%;
    }
    .right {
      width: 57%;
      .whats-in-your-mind {
        div:first-child {
          border-bottom: solid 1px var(--clr-secondary-btn-bg);
          padding-bottom: 0.7rem;
          img {
            border-radius: $circular-border-radius;
          }
          input {
            width: 100%;
            border: none;
            border-radius: $input-border-radius;
            background-color: var(--clr-comment-background);
            outline: none;
            padding: 10px;
            margin-left: $base-inner-spacing;
            font-size: 1.1rem;
            cursor: pointer;
            &:hover {
              background-color: var(--clr-secondary-comment-background);
            }
            caret-color: white;
          }
        }
        div:last-child {
          justify-content: center;
          margin-top: $base-inner-spacing;
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 9rem;
            gap: $base-inner-spacing;
            padding: $base-inner-spacing 0;
            border-radius: $base-border-radius;
            cursor: pointer;
            &:hover {
              background-color: var(--clr-comment-background);
            }
            span {
              font-size: 0.9rem;
              color: var(--clr-secondary-text);
              font-weight: bold;
            }
          }
        }
      }
      .posts-management {
        padding-inline: 0;
        padding-bottom: 0;
        .posts-management__buttons {
          margin-top: 0.2rem;
          a:first-child {
            margin-right: 0.2rem;
          }
        }
        > div:first-child {
          padding-inline: 1rem;
        }
        > div:last-child {
          justify-content: center;
          margin-top: 0.8rem;
          border-top: solid 1px var(--clr-secondary-btn-bg);
          text-align: center;
          padding: 0.2rem 0;
          a {
            flex-basis: 14rem;
            padding: $base-inner-spacing 0;
            border-radius: $base-border-radius;
            color: var(--clr-secondary-text);
            &:hover {
              background-color: var(--clr-comment-background);
            }
            i {
              margin-right: $base-inner-spacing;
            }
          }
        }
      }
    }
  }
}
