@use "../globals/typography.scss" as *;
.post {
  .post__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .post__owner-info {
      display: flex;
      align-items: center;
      > img {
        border-radius: $circular-border-radius;
        margin-right: $base-inner-spacing;
      }
      .post_posted-time {
        font-size: 0.8rem;
        color: var(--clr-secondary-text);
        img {
          filter: var(--filter-secondary-icon);
        }
      }
    }
    .post__config {
      i {
        cursor: pointer;
        padding: 0.6rem;
        font-size: 1.1rem;
        color: var(--clr-secondary-icon);
        &:hover {
          background-color: var(--clr-comment-background);
          border-radius: $circular-border-radius;
        }
      }
    }
  }
  .post__content {
    display: block;
  }
  .post__interact {
    display: block;
    .post__commenting {
      display: flex;
      align-items: center;
      position: relative;
      .interactions {
        display: flex;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: var(--clr-comment-background);
        border-radius: $input-border-radius;
        li {
          display: flex;
          border-radius: $circular-border-radius;
          padding: 0.45rem;
          cursor: pointer;
          &:hover {
            background-color: var(--clr-secondary-comment-background);
          }
          &::marker {
            content: "";
          }
          img {
            filter: var(--filter-secondary-icon);
          }
          i {
            color: var(--clr-secondary-icon);
          }
        }
      }
      > img {
        border-radius: $circular-border-radius;
        margin-right: 0.4rem;
      }
      input {
        outline: none;
        border: none;
        width: 100%;
        border-radius: $input-border-radius;
        padding: 0.5rem;
        background-color: var(--clr-comment-background);
        caret-color: white;
      }
    }
    .post__interact-buttons {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
      padding: 0.3rem 0;
      border-bottom: solid 1px var(--clr-comment-background);
      .post__interact-btn {
        color: var(--clr-secondary-text);
        flex-basis: 50%;
        padding: 0.5rem 0;
        border-radius: $base-border-radius;
        &:hover {
          background-color: var(--clr-comment-background);
        }
        i {
          margin-right: $base-inner-spacing;
        }
      }
    }
  }
}
