:root {
  --clr-primary-blue: #0866ff;
  --clr-secondary-blue: #0866ff;
  --clr-blue-link: #5aa7ff;
  --clr-primary-white: #f2f2f2;
  --clr-secondary-white: #b8bbbf;
  --clr-primary-gray-dark: #18191a;
  --clr-primary-gray: #242526;
  --clr-comment-background: #3a3b3c;
  --clr-secondary-comment-background: #4e4f50;
  --clr-secondary-icon: #b0b3b8;
  --clr-secondary-text: #b0b3b8;
  --clr-secondary-btn-text: #e4e6eb;
  --clr-primary-icon: #e4e6eb;
  --clr-secondary-btn-bg: rgba(255, 255, 255, 0.1);

  --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%)
    hue-rotate(175deg) brightness(90%) contrast(96%);
}
