// base padding
$base-padding: 1rem;

// icon width
$icon-width-small: 1rem;
$icon-width-medium: 1.25rem;
$icon-width-large: 1.5rem;
$icon-width-xl: 2.5rem;

// inner spacing
$base-inner-spacing: 0.5rem;

// border radius
$base-border-radius: 0.4rem;
$input-border-radius: 99px;
$circular-border-radius: 50%;
